.d-flex {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px) {
  .container {
    padding: 0 calc(50% - 570px);
  }
}

.primary-btn {
  background: #ec4040;
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 19px 0px 19px 0px;
  margin-top: 50px;
  width: max-content;
  cursor: pointer;
  width: 221px;
  height: 60px;
  display: flex;
  justify-content: center;
}
