#company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  position: relative;
}

.company-header {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

.company-dots {
  position: absolute;
  left: calc(50% - 180px);
  top: -36px;
}

.company-content {
  margin-top: 82px;
  display: flex;
  align-self: flex-start;
}

.company-description {
  width: 503px;
  margin-right: 86px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #222222;
}

.company-img {
  position: relative;
  top: -23px;
}

.lead-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-description-bold {
  font-family: "Gilroy SemiBold";
}

.company-features {
  align-self: flex-start;
  display: flex;
  margin-top: 50px;
  margin-bottom: 102px;
}

.company-feature {
  margin-right: 45px;
  position: relative;
}

.company-feature-main {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 135%;
  color: #ec4040;
  position: relative;
  z-index: 1;
}

.company-feature-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #222222;
  position: relative;
  top: -4px;
}

.company-feature-rect {
  position: absolute;
  width: 84px;
  height: 31px;
  background: rgba(196, 196, 196, 0.22);
  top: 30px;
  left: -7px;
}

.company-cards {
  align-self: flex-start;
  display: flex;
  width: 100%;
  height: 342px;
  justify-content: space-between;
}

.company-card {
  width: 270px;
  height: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-top: 10px solid #ec4040;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(123, 140, 153, 0.3);
  padding-right: 25.5px;
  padding-left: 25.5px;
  position: relative;
  z-index: 1;
}

.company-card-header {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #222222;
}

.company-card-body {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #222222;
}

.company-mobile-img {
  display: none;
}

@media (max-width: 1199.98px) {
  .company-description {
    margin-right: 15px;
  }
  .company-img {
    height: 350px;
    width: auto;
  }

  .company-cards {
    width: 614px;
    height: 664px;
    margin: auto;
    flex-wrap: wrap;
  }

  .company-card {
    width: 297px;
    height: 322px;
    padding-right: 28px;
    padding-left: 28px;
    flex-shrink: 0;
  }

  .company-card:first-child {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .company-features {
    margin-bottom: 62px;
  }
}

@media (max-width: 991.98px) {
  #company {
    margin-top: 80px;
  }

  .company-header {
    font-size: 40px;
    line-height: 40px;
  }

  .company-dots {
    position: absolute;
    left: calc(50% - 122px);
    top: -29px;
    width: 90px;
    height: 90px;
  }

  .company-content {
    margin-top: 62px;
    justify-content: space-between;
    width: 100%;
  }

  .company-img {
    display: none;
  }

  .company-mobile-img {
    display: block;
    width: 234px;
    height: 400px;
    position: relative;
    top: -22px;
    object-fit: cover;
    object-position: 35% 0%;
  }

  .company-description {
    width: 468px;
    margin-right: 0px;
  }

  .company-features {
    margin-top: 28px;
    margin-bottom: 62px;
    width: 468px;
    justify-content: space-between;
  }

  .company-feature {
    margin-right: 0px;
  }
  .company-cards {
    width: 614px;
    height: 664px;
    margin: auto;
    flex-wrap: wrap;
  }

  .company-card {
    width: 297px;
    height: 322px;
    padding-right: 28px;
    padding-left: 28px;
    flex-shrink: 0;
  }

  .company-card:first-child {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575.98px) {
  #company {
    margin-top: 60px;
  }

  .company-dots {
    width: 70px;
    height: 70px;
    top: -23px;
    left: calc(50% - 90px);
  }

  .company-header {
    font-size: 32px;
    line-height: 32px;
  }

  .company-content {
    margin-top: 28px;
    display: block;
  }

  .company-description {
    width: calc(100vw - 37px);
    margin-right: 0px;
    margin-left: 7px;
  }

  .company-features {
    margin-top: 30px;
    margin-bottom: 0px;
    justify-content: space-between;
    margin-left: 7px;
  }

  .company-feature-main {
    font-size: 30px;
  }

  .company-feature-description {
    font-size: 14px;
    min-width: 68px;
    margin-bottom: 30px;
  }

  .company-feature {
    margin-right: 0px;
  }

  .company-feature-rect {
    top: 0px;
  }

  .company-mobile-img {
    display: block;
    width: 100%;
    height: calc(100vw * 207 / 290);
    margin-bottom: 40px;
  }

  .company-img {
    display: none;
  }

  .company-card {
    flex-shrink: 0;
    margin-right: 20px;
  }
}
