#contacts {
  width: 100%;
  height: 480px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.contacts-body {
  width: 946px;
  height: 240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-message {
  width: 425px;
  margin-right: 155px;
}

.contacts-header {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 30px;
}

.contacts-form {
  width: 366px;
}

.contacts-btn {
  width: 100%;
  margin-top: 0;
}

.contacts-input {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  border: 1px solid #c4c4c4;
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

input:focus {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  outline: none;
}

.contacts-input:focus {
  border: 1px solid #222222;
  padding-left: 25px;
  padding-right: 25px;
  color: #222222;
}

::placeholder {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

@media (max-width: 575.98px) {
  #contacts {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contacts-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-message {
    width: 100%;
    margin-right: 0px;
  }

  .contacts-header {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  .contacts-description {
    font-size: 20px;
    line-height: 23px;
    margin-top: 10px;
    text-align: center;
  }

  .contacts-form {
    width: 100%;
    margin-top: 30px;
  }
}
