@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/BebasNeueBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/GilroyRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/GilroyBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/GilroySemiBold.ttf") format("truetype");
}
