.header {
  height: 100px;
  width: 100%;
}

.header-content {
  height: 100px;
  width: 1069px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.header-phone-tablet {
  display: none;
}

.header-img {
  margin-right: 44px;
}

.menu {
  display: flex;
  margin-right: 78.29px;
}

.menu-item {
  margin-right: 32.5px;
  cursor: pointer;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-item:last-child {
  margin-right: 0px;
}

.menu-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}

.menu-item a:hover {
  color: #ec4040;
}

.menu-item-line {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: none;
  height: 2px;
  width: 100%;
  background: #ec4040;
}

.menu-item a:hover ~ .menu-item-line {
  display: block;
}

.header-contact {
  margin-bottom: 7px;
  display: flex;
}

.header-contact:last-child {
  margin-bottom: 0px;
}

.header-contact-text {
  margin-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.header-mobile-icons {
  display: none;
}

@media (max-width: 1199.98px) {
  .header-img {
    width: 109px;
    height: 90px;
    margin-right: 35px;
  }

  .menu-item {
    margin-right: 20px;
  }

  .menu {
    margin-right: 42px;
  }
}

@media (max-width: 991.98px) {
  .header-img {
    width: 109px;
    height: 90px;
    margin-right: 35px;
  }

  .menu-item {
    margin-right: 13px;
  }

  .menu {
    margin-right: 35px;
  }

  .header-contact {
    display: none;
  }

  .header-phone-tablet {
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 66px;
  }

  .header-content {
    height: 66px;
    width: 100%;
    justify-content: space-between;
  }

  .header-img {
    width: 81px;
    height: 66px;
    margin-right: 0;
  }

  .menu {
    display: none;
  }

  .header-contacts {
    display: none;
  }

  .header-phone-mobile {
    margin-right: 12px;
  }

  .header-mobile-icons {
    display: flex;
  }

  .header-phone-tablet {
    display: none;
  }
}
