.main {
  width: 100%;
  background: #fff;
}

.lead {
  width: 100%;
  height: 620px;
}

.lead-bg {
  position: absolute;
  width: 100%;
  height: 620px;
  object-fit: cover;
}

.lead-content {
  width: 100%;
  height: 620px;
  background: linear-gradient(180deg, #292929 7.66%, rgba(41, 41, 41, 0) 100%);
  padding-top: 15px;
  position: relative;
  z-index: 9;
}

.lead-background {
  position: absolute;
}

.rect-1 {
  position: absolute;
  width: 573px;
  height: 637px;
  left: 1952px;
  top: -17px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transform: matrix(-1, 1, 1, 1, 0, 0);
}

.lead-text {
  margin-top: 85px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.lead-text-red {
  color: #ec4040;
}

.ellipse-top {
  position: absolute;
  width: 584px;
  height: 584px;
  left: 1047px;
  top: -95px;
  background: rgba(236, 64, 64, 0.5);
  mix-blend-mode: screen;
  filter: blur(340px);
}

.ellipse-bottom {
  position: absolute;
  width: 755px;
  height: 755px;
  left: 118px;
  top: 352px;
  background: rgba(64, 112, 236, 0.5);
  mix-blend-mode: screen;
  filter: blur(340px);
}

@media (max-width: 575.98px) {
  .lead {
    height: 510px;
    background: url("/img/lead-bg.png");
    background-size: cover;
    overflow: hidden;
  }

  .lead-bg {
    display: none;
  }

  .lead-content {
    height: 510px;
    background: linear-gradient(
      180deg,
      #292929 7.66%,
      rgba(41, 41, 41, 0) 100%
    );
  }

  .lead-text {
    margin-top: 51px;
    font-size: 36px;
    line-height: 36px;
  }

  .lead-btn {
    margin-top: 40px;
  }

  .ellipse-top {
    position: absolute;
    width: 584px;
    height: 584px;
    right: -514px;
    top: -95px;
    background: rgba(236, 64, 64, 0.5);
    mix-blend-mode: screen;
    filter: blur(340px);
    left: auto;
  }

  .ellipse-bottom {
    width: 755px;
    height: 755px;
    left: -655px;
    top: 352px;
    background: rgba(64, 112, 236, 0.5);
    mix-blend-mode: screen;
    filter: blur(340px);
  }
}
