html {
  overflow-x: hidden;
}

.main {
  width: 100%;
  background: #fff;
}

.lead {
  width: 100%;
  height: 620px;
}

.lead-bg {
  position: absolute;
  width: 100%;
  height: 620px;
  object-fit: cover;
}

.lead-content {
  width: 100%;
  height: 620px;
  padding-top: 15px;
  position: relative;
  z-index: 9;
}

.lead-background {
  position: absolute;
}

.lead-text {
  margin-top: 85px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.lead-text-red {
  color: #ec4040;
}

@media (max-width: 991.98px) {
  .lead-text {
    font-size: 50px;
    line-height: 50px;
    margin-top: 103px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .lead {
    height: 620px;
    background: url("/img/lead-tablet-bg.png");
    background-size: cover;
    overflow: hidden;
  }

  .lead-bg {
    display: none;
  }

  .lead-content {
    height: 620px;
    background: none;
  }

  .lead-text {
    margin-top: 103px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 0;
  }

  .lead-btn {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  .lead {
    background: url("/img/lead-mobile-bg.png");
    height: 510px;
    background-size: cover;
    overflow: hidden;
  }

  .lead-bg {
    display: none;
  }

  .lead-text {
    margin-top: 51px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 0;
  }

  .lead-btn {
    margin-top: 40px;
  }

  .lead-content {
    height: 510px;
    background: none;
  }
}
