#portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #323232;
  width: 100%;
  height: 917px;
  position: relative;
  overflow: hidden;
}

.portfolio-header {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.portfolio-header-background {
  position: absolute;
  top: 67px;
  width: 100%;
  left: 0;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 190px;
  line-height: 190px;
  text-align: center;
  color: rgba(255, 255, 255, 0.08);
}

.portfolio-slider-background {
  background: rgba(255, 255, 255, 0.1);
  filter: blur(8px);
  position: absolute;
  width: 946px;
  height: 514px;
  margin-left: 97px;
}

.portfolio-slider {
  margin: auto;
  margin-top: 60px;
  border: 1px solid;
  border-image-source: linear-gradient(
    106.94deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 98.67%
  );
  border-image-slice: 1;
  width: 946px;
  height: 514px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  padding: 60px 31px 60px 60px;
  display: flex;
}

.portfolio-slider-left {
  width: 340px;
  margin-right: 95px;
  flex-shrink: 0;
  position: relative;
}

.portfolio-slider-body {
  position: relative;
}

.portfolio-slider-subheader {
  font-family: "Bebas Neue Light";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.portfolio-slider-header {
  margin-top: 10px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
}

.portfolio-slider-images {
  margin-top: 50px;
  display: flex;
}

.portfolio-slider-img {
  margin-right: 20px;
}

.portfolio-slider-img:nth-child(2) {
  position: relative;
  top: 30px;
}

.portfolio-slider-img:last-child {
  margin-right: 0;
}

.client-header {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.client-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 10px;
}

.task-header {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
}

.task-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 10px;
}

.result-header {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
}

.result-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 10px;
}

.portfolio-dots {
  position: absolute;
  right: 30px;
  top: 30px;
}

.portfolio-circle-1 {
  position: absolute;
  width: 497px;
  height: 497px;
  left: -38px;
  top: -47px;
  background: rgba(236, 64, 64, 0.5);
  mix-blend-mode: screen;
  filter: blur(320px);
}

.portfolio-circle-2 {
  position: absolute;
  width: 479px;
  height: 479px;
  right: -102px;
  top: 43px;
  background: rgba(64, 112, 236, 0.5);
  mix-blend-mode: screen;
  filter: blur(340px);
}

.portfolio-arrow-left {
  position: absolute;
  left: calc(50% - 531px);
  top: calc(50% - 23px);
  width: 28px;
  height: 56px;
  cursor: pointer;
  z-index: 100;
}

.portfolio-arrow-right {
  position: absolute;
  width: 28px;
  height: 56px;
  right: calc(50% - 531px);
  top: calc(50% - 23px);
  cursor: pointer;
  z-index: 100;
}

.portfolio-slider-counter {
  width: 100%;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 120px;
  left: 0;
}

.slide {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  color: #ffffff;
  top: calc(50% - 40px);
  left: 0;
  width: 100%;
}

@media (max-width: 991.98px) {
  #portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 682px;
  }

  .portfolio-header {
    font-size: 40px;
    line-height: 40px;
  }

  .portfolio-header-background {
    top: 40px;
    font-size: 140px;
    line-height: 140px;
  }

  .portfolio-slider-background {
    position: absolute;
    width: 654px;
    height: 399px;
    margin-left: 41.5px;
  }

  .portfolio-slider {
    margin-top: 40px;
    width: 654px;
    height: 399px;
    padding: 41.48px 20px 40px 35.21px;
    margin-bottom: 43px;
  }

  .portfolio-slider-left {
    width: 217.61px;
    margin-right: 23.39px;
  }

  .portfolio-slider-subheader {
    font-size: 20.74px;
    line-height: 21px;
  }

  .portfolio-slider-header {
    font-size: 27.6533px;
    line-height: 28px;
    margin-top: 6.91px;
  }

  .portfolio-slider-images {
    margin-top: 34.57px;
    width: 100%;
  }

  .portfolio-slider-img {
    margin-right: 5px;
    width: 69.13px;
    height: 161.77px;
  }

  .portfolio-slider-img:nth-child(2) {
    top: 20.74px;
  }

  .client-header {
    font-size: 20px;
    line-height: 20px;
  }

  .task-header {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15.5px;
  }

  .result-header {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15.5px;
  }

  .client-description {
    margin-top: 5px;
  }

  .task-description {
    margin-top: 5px;
  }

  .result-description {
    margin-top: 5px;
  }

  .portfolio-dots {
    width: 82.96px;
    height: 82.96px;
    left: 20px;
    top: 22.81px;
    right: auto;
  }

  .portfolio-circle-1 {
    position: absolute;
    width: 497px;
    height: 497px;
    left: -184px;
    top: -73px;
    background: rgba(236, 64, 64, 0.5);
    mix-blend-mode: screen;
    filter: blur(320px);
  }

  .portfolio-circle-2 {
    position: absolute;
    width: 479px;
    height: 479px;
    right: -248px;
    top: 17px;
    background: rgba(64, 112, 236, 0.5);
    mix-blend-mode: screen;
    filter: blur(340px);
  }

  .portfolio-slider-counter {
    bottom: 80px;
  }

  .portfolio-arrow-right {
    right: calc(50% - 53px);
    bottom: 77px;
    top: auto;
    width: 15px;
    height: 30px;
  }

  .portfolio-arrow-left {
    left: calc(50% - 53px);
    bottom: 77px;
    top: auto;
    width: 15px;
    height: 30px;
  }
}

@media (max-width: 575.98px) {
  #portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: auto;
  }

  .portfolio-header {
    font-size: 40px;
    line-height: 40px;
  }

  .portfolio-header-background {
    top: 45px;
    font-size: 78px;
    line-height: 78px;
  }

  .portfolio-slider-background {
    display: none;
  }

  .portfolio-slider {
    margin-top: 38px;
    width: 100%;
    height: auto;
    padding: 30px 17px 40px 20px;
    display: block;
  }

  .portfolio-slider-subheader {
    font-size: 20px;
    line-height: 20px;
  }

  .portfolio-slider-header {
    font-size: 30px;
    line-height: 30px;
  }

  .portfolio-dots {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 17px;
    top: 15px;
  }

  .portfolio-slider-images {
    margin-top: 10px;
    width: 100%;
  }

  .portfolio-slider-left {
    width: 100%;
    margin-right: 0px;
  }

  .portfolio-slider-img {
    margin-right: 8px;
    width: calc(100% / 3);
    height: calc(100% / 3 * 185 / 79);
  }

  .portfolio-slider-img:nth-child(2) {
    top: 24px;
  }

  .client-header {
    font-size: 26px;
    line-height: 26px;
    margin-top: 44px;
  }

  .task-header {
    font-size: 26px;
    line-height: 26px;
    margin-top: 30px;
  }

  .result-header {
    font-size: 26px;
    line-height: 26px;
    margin-top: 30px;
  }

  .portfolio-slider-counter {
    position: static;
    margin-top: 34px;
    margin-bottom: 3px;
  }

  .portfolio-arrow-left {
    left: calc(50% - 53px);
    bottom: 60px;
    top: auto;
    width: 15px;
    height: 30px;
  }

  .portfolio-arrow-right {
    right: calc(50% - 53px);
    bottom: 60px;
    top: auto;
    width: 15px;
    height: 30px;
  }

  .slide {
    position: static;
    margin-top: 30px;
    width: 100%;
  }

  .portfolio-circle-2 {
    position: absolute;
    width: 479px;
    height: 479px;
    left: 146px;
    top: 302px;
    right: auto;
    background: rgba(64, 112, 236, 0.5);
    mix-blend-mode: screen;
    filter: blur(340px);
  }

  .portfolio-circle-1 {
    width: 497px;
    height: 497px;
    right: 114px;
    left: auto;
    top: 53px;
    background: rgba(236, 64, 64, 0.5);
    mix-blend-mode: screen;
    filter: blur(320px);
  }
}
