#services {
  height: 893px;
  width: 100%;
  position: relative;
  top: -80px;
  padding-top: 116px;
  padding-bottom: 120px;
}

.services-bg {
  height: 893px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.services-header {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #222222;
  position: relative;
}

.services-dots {
  position: absolute;
  left: calc(50% - 134px);
  top: 80px;
}

.services-cards {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.services-card {
  width: 270px;
  height: 533px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  filter: drop-shadow(0px 4px 40px rgba(123, 140, 153, 0.3));
  overflow: hidden;
}

.services-card-price {
  position: absolute;
  top: 197px;
  right: 0;
  width: 81px;
  height: 81px;
  background: #ec4040;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.services-card-header {
  margin-top: 30px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}

.services-card-description {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.services-card-link {
  margin-top: 29px;
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ec4040;
  cursor: pointer;
}

.services-btn {
  margin-top: 20px;
  width: 240px;
}

.services-card-ellipse {
  position: absolute;
  width: 189px;
  height: 189px;
  left: -40px;
  top: -35px;
  background: rgba(236, 64, 64, 0.5);
  mix-blend-mode: screen;
  filter: blur(80px);
}

.services-bg-mobile {
  display: none;
}

@media (max-width: 991.98px) {
  #services {
    height: 638px;
    width: 100%;
    top: -60px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .services-header {
    font-size: 40px;
    line-height: 40px;
  }

  .services-dots {
    left: calc(50% - 100px);
    top: 50px;
    height: 90px;
    width: 90px;
  }

  .services-cards {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .services-card {
    height: 398px;
    width: 175px;
    margin-right: 13px;
    flex-shrink: 0;
  }

  .services-card-price {
    height: 52.57894515991211px;
    width: 52.57894515991211px;
    top: 127.877197265625px;
    font-size: 12.9825px;
    line-height: 16px;
  }

  .services-card-header {
    margin-top: 19.47px;
    font-size: 22px;
    line-height: 22px;
  }

  .services-card-description {
    width: 100%;
  }

  .services-card-link {
    margin-top: 9.51px;
  }

  .services-btn {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
  }

  .service-img {
    height: 180.4561309814453px;
    width: 175.26315307617188px;
  }
}

@media (max-width: 575.98px) {
  #services {
    top: -50px;
    padding-top: 58px;
    padding-bottom: 60px;
  }

  .services-header {
    font-size: 38px;
    line-height: 38px;
  }

  .services-dots {
    left: calc(50% - 76px);
    top: 37px;
    width: 70px;
    height: 70px;
  }

  .services-cards {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .services-card {
    width: 270px;
    height: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #fff;
    filter: drop-shadow(0px 4px 40px rgba(123, 140, 153, 0.3));
    overflow: hidden;
    margin-bottom: 20px;
  }

  .services-card:last-child {
    margin-bottom: 0px;
  }

  .services-bg {
    display: none;
  }

  .services-bg-mobile {
    width: 100%;
    height: 2378px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;
  }
}
